<?xml version="1.0" encoding="UTF-8"?>
<form>
   <fieldset>
      <field name="id" type="text" default="0" label="COM_JKCUSTOMFIELDS_FORM_LBL_FORM_ID" readonly="true" class="readonly" description="JGLOBAL_FIELD_ID_DESC" />
      
      <field name="menu0" type="menuitem" label="Menu Item 0" description="Menu Item" >
        <option value="" >-Select menu-</option>
      </field>
      
      <field name="menu1" type="menuitem" label="Menu Item 1" description="Menu Item" >
        <option value="" >-Select menu-</option>
      </field>
      <field name="menu2" type="menuitem" label="Menu Item 2" description="Menu Item" >
        <option value="" >-Select menu-</option>
      </field>
      <field name="menu3" type="menuitem" label="Menu Item 3" description="Menu Item" >
        <option value="" >-Select menu-</option>
      </field>
      <field name="menu4" type="menuitem" label="Menu Item 4" description="Menu Item" >
        <option value="" >-Select menu-</option>
      </field>
      <field name="menu5" type="menuitem" label="Menu Item 5" description="Menu Item" >
        <option value="" >-Select menu-</option>
      </field>
      
      <field name="icon0" type="media" label="Icon 1" description="Icon" />
      <field name="icon1" type="media" label="Icon 1" description="Icon" />
      <field name="icon2" type="media" label="Icon 2" description="Icon" />
      <field name="icon3" type="media" label="Icon 3" description="Icon" />
      <field name="icon4" type="media" label="Icon 4" description="Icon" />
      <field name="icon5" type="media" label="Icon 5" description="Icon" />
      
   </fieldset>
</form>