#less-content-separator {
  content: "separator";
}
.btn-primary,
.wd_btn a,
.wd_btn button,
.wd_btn .button {
  background-color: #6b6ee9;
}
.wd_main_menu li.active a,
.wd_main_menu li a:hover,
.wd_slider_textinfo h3 {
  color: #6b6ee9;
}
.wd_slider_textinfo .inner,
.wd_heading {
  background-image: url('../less/colors/color-2/images/bg_heading.png');
}
#headbottom {
  background-color: #6b6ee9;
}
.wd_heading h4 {
  color: #6b6ee9;
}
.wd_about_infobox h2:after {
  border-bottom-color: #6b6ee9;
}
.wd_about_infobox_img:before,
.wd_about_infobox_img:after {
  background-color: #6b6ee9;
}
.wd_about_infobox_date h3,
.wd_about_infobox .date {
  color: #6b6ee9;
}
#clockdiv {
  color: #6b6ee9;
}
.wd_story_dot span {
  background-color: #6b6ee9;
}
.wd_story_covers_box_datails span {
  color: #6b6ee9;
}
.wd_event_infobox h2,
.wd_event_infobox p a {
  color: #6b6ee9;
}
.wd_guest_infobox h2 span,
.wd_guest_formbox h4 {
  color: #6b6ee9;
}
.wd_guest_slider .owl-theme .owl-dots .owl-dot.active span,
.wd_guest_slider .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #6b6ee9;
}
.wd_testimonial_wrapper {
  background-color: #6b6ee9;
}
.wd_family_tabbox .nav-tabs > li.active > a img,
.wd_family_tabbox ul.nav > li > a:hover img {
  border-color: #6b6ee9;
}
.wd_family_tabbox .nav-tabs > li.active > a p,
.wd_family_tabbox .nav-tabs > li > a:hover p {
  color: #6b6ee9;
}
.wd_family_infobox:hover .wd_family_infobox_img img {
  border-color: #6b6ee9;
}
.wd_family_infobox:hover h2 {
  color: #6b6ee9;
}
.wd_family_infobox ul li a:hover,
.wd_family_slider .owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #6b6ee9;
}
.wd_family_infobox ul li a:hover {
  border-color: #6b6ee9;
}
.ast_glr_overlay a,
.ast_glr_overlay a:hover {
  color: #6b6ee9;
  border-color: #6b6ee9;
}
.wd_gallery_slider .owl-theme .owl-dots .owl-dot.active span,
.wd_gallery_slider .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #6b6ee9;
}
.jvlatestnews-container.default li .intro-title a:hover,
.jvlatestnews-container.default li .intro-detail > span .fa {
  color: #6b6ee9;
}
.wd_footicon i {
  background-color: #6b6ee9;
}
#toTop {
  background-color: #6b6ee9;
}