#less-content-separator {
  content: "separator";
}
#snow.btn-primary,
.wd_btn a,
.wd_btn button,
.wd_btn .button,
.btn-primary {
  background-color: #f07677;
}
.wd_logo .logo-image {
  background-image: url('../less/colors/color-1/images/logo.png');
}
.wd_main_menu li.active a,
.wd_main_menu li a:hover {
  color: #f07677;
}
.wd_slider_module .wd_slider_textinfo h3 {
  color: #f07677;
}
.wd_slider_module .wd_slider_textinfo .inner {
  background-image: url('../less/colors/color-1/images/bg_heading.png');
}
.wd_slider_module #headbottom {
  background-color: #f07677;
}
.wd_heading {
  background-image: url('../less/colors/color-1/images/bg_heading.png');
}
.wd_heading h4 {
  color: #f07677;
}
.wd_about_infobox h2:after {
  border-bottom-color: #f07677;
}
.wd_about_infobox ul li a:hover {
  border-color: #f07677;
  background-color: #f07677;
}
.wd_about_infobox_img:before,
.wd_about_infobox_img:after {
  background-color: #f07677;
}
.wd_about_infobox_date h3,
.wd_about_infobox .date {
  color: #f07677;
}
#clockdiv {
  color: #f07677;
}
.wd_story_dot span {
  background-color: #f07677;
}
.wd_story_covers_box_datails span {
  color: #f07677;
}
.wd_event_infobox h2,
.wd_event_infobox p a {
  color: #f07677;
}
.wd_guest_infobox h2 span,
.wd_guest_formbox h4 {
  color: #f07677;
}
.wd_guest_slider .owl-theme .owl-dots .owl-dot.active span,
.wd_guest_slider .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #f07677;
}
.wd_testimonial_wrapper {
  background-color: #f07677;
}
.wd_family_tabbox .nav-tabs > li.active > a img,
.wd_family_tabbox ul.nav > li > a:hover img {
  border-color: #f07677;
}
.wd_family_tabbox .nav-tabs > li.active > a p,
.wd_family_tabbox .nav-tabs > li > a:hover p {
  color: #f07677;
}
.wd_family_infobox:hover .wd_family_infobox_img img {
  border-color: #f07677;
}
.wd_family_infobox:hover h2 {
  color: #f07677;
}
.wd_family_infobox ul li a:hover,
.wd_family_slider .owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #f07677;
}
.wd_family_infobox ul li a:hover {
  border-color: #f07677;
}
.ast_glr_overlay a,
.ast_glr_overlay a:hover {
  color: #f07677;
  border-color: #f07677;
}
.wd_gallery_slider .owl-theme .owl-dots .owl-dot.active span,
.wd_gallery_slider .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #f07677;
}
.jvlatestnews-container.default li .intro-title a:hover,
.jvlatestnews-container.default li .intro-detail > span .fa {
  color: #f07677;
}
.wd_footicon i {
  background-color: #f07677;
}
.wd_contact_form .wd_btn .button:hover {
  border-color: #f07677;
}
#toTop {
  background-color: #f07677;
}
.wd_footer_bottom_wrapper .module-logo-footer .logo-flink {
  background-image: url('../less/colors/color-1/images/flogo.png');
}
@media (max-width: 767px) {
  .wd_main_menu_wrapper,
  .wd_menu_btn {
    background-color: #f07677;
  }
  .wd_main_menu ul li.active a {
    color: #f07677;
  }
}