#less-content-separator {
  content: "separator";
}
a {
  color: #ac237f;
}
#block-mainnav,
ul.vertical li {
  border-color: #ac237f;
}
#block-mainnav ul.fxmenu .fx-subitem,
#block-mainnav ul.fxmenu li:hover .level1,
#block-mainnav ul.fxmenu li.active .level1,
h3.title-module,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn,
div.pagination ul li a,
div.pagination .counter,
a.flexMenuToggle {
  background-color: #ac237f;
}