#less-content-separator {
  content: "separator";
}
body {
  background: #000000 !important;
}
h1 {
  font-size: 16pt;
  font-weight: bold;
  color: #000;
  background: inherit;
  margin: 0.4em 0 0.5em 0;
}
h2 {
  font-size: 14pt;
  font-weight: bold;
  color: #333;
  background: inherit;
  margin: 0.2em 0 0.5em 0;
  padding: 0.3em 0.3em 0.3em 0;
}
h3 {
  font-size: 12pt;
  font-weight: bold;
  margin: 0.4em 0 0.3em 0;
}
h1,
h2,
h3 {
  page-break-after: avoid;
}
a {
  color: #93246F;
  font-weight: bold;
}
ul.actions {
  display: none;
}